body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#85cdfa;
  }
  
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .dark{
    padding:15px;
    background:#85cdfa;
    color:#f7f7f7;
    margin-top:10px;
    margin-bottom:10px;
  }
  

  header{
    background:#85cdfa;
    color:#000000;
    padding-top:30px;
    min-height:70px;
    border-bottom:#000000 6px solid;
  }
  
  header a{
    color:#000000;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#000000;
    font-weight:bold;
  }
  
  header a:hover{
    color:#1f0ae2;
    font-weight:bold;
  }
  
  #showcase{
    min-height:400px;
    background:url('../img/Background.webp') no-repeat 0 -400px;
    text-align:center;
    color:#000000;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }

  /* Boxes */
  #boxes{
    margin-top:20px;
  }
  
  #boxes .box-sport{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box-gta{
    float:right;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box-sport img{
    width:180px;
  }

  #boxes .box-gta img{
    width:180px;
  }

#boxes .box-snake{
    float:left;
    width:100%;
    padding:60px;
  }
  
  #boxes .box-flappybird{
    float:right;
    width:100%;
    padding:60px;
  }
  
  #boxes .box-snake img{
    width:250px;
    padding:60px;
  }

   #boxes .box-flappybird img{
    width:250px;
    padding:60px;
  }
    
#boxes .box-soccer{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }

 #boxes .box-soccer img{
    width:180px;
  }
  
#boxes .box-football{
    float:middle;
    text-align: center;
    width:30%;
    padding:10px;
  }

 #boxes .box-football img{
    width:180px;
  }

#boxes .box-burger{
    float:right;
    text-align: center;
    width:30%;
    padding:10px;
  }

 #boxes .box-burger img{
    width:180px;
  }

#boxes .box-pizza{
    float:middle;
    text-align: center;
    width:30%;
    padding:10px;
  }

 #boxes .box-pizza img{
    width:180px;
  }

  /* Sidebar */
  aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
  }
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  /* Services */
  ul#services li{
    list-style: none;
    padding:20px;
    border: #0918f5 solid 1px;
    margin-bottom:5px;
    background:#2a06f1;
  }
  
  footer{
    padding:50px;
    margin-top:5px;
    color:#000000;
    background-color:#85cdfa;
    text-align: center;
    /* border-bottom:#000000 6px solid; */
    border-top:#000000 2px solid;

  }
  
  /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }
